node_modules
**/node_modules
.expo
**/.expo
.next*
**/.next*
android
**/android
ios
**/ios
dist
dist-android
**/dist-android
coverage
**/coverage
.git
.kilo
.tmp
out
build
*.log
.env
.env*.local
google-play-service-account.json
google-services.json
expo-env.d.ts
